.hero{
  position: relative;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.hero-elements{
  position:relative;
}
  
.hero-name,
.hero-icon,
.hero-bg,
.hero-text {
  position: absolute;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.hero-name {
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 3;
  scale: 0.85;
  transform: translate(-56%, -50%);
  transition: transform 0.3s ease;
}

.hero-name:hover{
  transform: translate(-56%, -50%) scale(1.1);
}

.hero-icon {
  z-index: 2;
  scale: .85;
  transform: translate(-56%, -58%);
}

.hero-bg {
  z-index: 1;
  scale:1.2;
  transform: translate(-40%, -40%);
}

.hero-text{
  position: absolute;
  text-align: center; 
  z-index: 4; 
}

.hero-text img{
  z-index: 6;
  scale: .87;
  transform: translate(-55%, -51%);
}

.hero-text h1{
  z-index: 5;
  justify-content: center;
  text-align: center;
  transform: translate(-48%, -1490%);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hero-text h1:hover{
  transform: translate(-48%, -1490%) scale(1.1);
}